/* --- Copyright --- */

.snapster_copyright_overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 0;
	background: rgba(var(--ca-dark), .97);
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease, visibility .3s ease;
	&.active {
		opacity: 1;
		visibility: visible;
	}
	&-active {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 800px;
		text-align: center;
	}
	&_title,
	&_text{
		color: var(--c-light);
	}
	&_text{
		opacity: .6;
		margin: 1rem 0 0;
	}
}