@import '../../../../assets/css/mixin';

.aheto-instagram {
	$p: &;

	&--snapster-list {
		text-align: center;
		ul {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
			margin-bottom: 0;
			grid-gap: 15px;
			align-items: center;

			@include xs-size-max {
				grid-gap: 15px!important;
				grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
			}
		}


		#{$p}__link {
			margin-bottom: 60px;
			@include xs-size-max{
				margin-bottom: 30px;
			}
			a {
				display: inline-block;
			}
		}

		li {
			> a {
				position: relative;
				display: block;
				overflow: hidden;
				transition: all .8s cubic-bezier(.25,.46,.45,.94);
				clip-path: inset(0 0 0 0);
				&:hover{
					clip-path: inset(8px 8px 8px 8px);
					img{
						transform: scale(1.04);
					}
				}
			}
		}

		img {
			transform: scale(1);
			transition: transform .8s cubic-bezier(.25,.46,.45,.94);
			will-change: transform;

		}
	}
}
